<mat-grid-list style="margin-left: 150px;margin-top: 70px;" cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div class="card" style="height: 200px;width: 370px;">
            <!-- <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="assets/{{data.image}}" class="img-fluid" style="height: 200px;width: 500px;margin-bottom: 50px;" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div> -->
            <div class="card-body">
                <h5 style="font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="card-title">Développement mobile</h5>
                <pre class="card-text" style="font-size: 25px;">
 - Flutter 
 - Dart
 - GetX 
 - getCli 
 
                </pre>

            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="card" style="height: 200px;width: 370px;">
            <!-- <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="assets/{{data.image}}" class="img-fluid" style="height: 200px;width: 500px;margin-bottom: 50px;" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div> -->
            <div class="card-body">
                <h5 style="font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="card-title">Développement web (1)</h5>
                <pre class="card-text" style="font-size: 25px;">
 - HTML 
 - CSS
 - PHP 
 - JavaScript 
 - Bootstrap
 
                </pre>

            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="card" style="height: 200px;width: 370px;">
            <!-- <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="assets/{{data.image}}" class="img-fluid" style="height: 200px;width: 500px;margin-bottom: 50px;" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div> -->
            <div class="card-body">
                <h5 style="font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="card-title">Développement web (2)</h5>
                <pre class="card-text" style="font-size: 25px;">
 - Angular 
 - Spring Boot
 
                </pre>

            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="card" style="height: 200px;width: 370px;">
            <!-- <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="assets/{{data.image}}" class="img-fluid" style="height: 200px;width: 500px;margin-bottom: 50px;" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div> -->
            <div class="card-body">
                <h5 style="font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="card-title">Langages de programmation</h5>
                <pre class="card-text" style="font-size: 25px;">
 - JAVA
 - C++
 - C
 - PYTHON
                </pre>

            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="card" style="height: 200px;width: 370px;">
            <!-- <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="assets/{{data.image}}" class="img-fluid" style="height: 200px;width: 500px;margin-bottom: 50px;" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div> -->
            <div class="card-body">
                <h5 style="font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="card-title">Systèmes d'exploitation</h5>
                <pre class="card-text" style="font-size: 25px;">
 - Windows
 - GNU/Linux
                </pre>

            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="card" style="height: 200px;width: 370px;">
            <!-- <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="assets/{{data.image}}" class="img-fluid" style="height: 200px;width: 500px;margin-bottom: 50px;" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div> -->
            <div class="card-body">
                <h5 style="font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="card-title">Modélisation</h5>
                <pre class="card-text" style="font-size: 25px;">
 - UML
 - BPMN
                </pre>

            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="card" style="height: 200px;width: 370px;">
            <!-- <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="assets/{{data.image}}" class="img-fluid" style="height: 200px;width: 500px;margin-bottom: 50px;" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div> -->
            <div class="card-body">
                <h5 style="font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="card-title">Editeurs</h5>
                <pre class="card-text" style="font-size: 25px;">
- Eclipse
- Apache NetBeans
- SpringToolSuite4
- Visual Studio Code
- Android studio
                </pre>

            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="card" style="height: 200px;width: 370px;">
            <!-- <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="assets/{{data.image}}" class="img-fluid" style="height: 200px;width: 500px;margin-bottom: 50px;" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div> -->
            <div class="card-body">
                <h5 style="font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="card-title">Bases de données</h5>
                <pre class="card-text" style="font-size: 25px;">
- Xampp
- Oracle
- MySql
- SQL plus
- PL/SQL
- Strapi
- mongoDB
                </pre>

            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="card" style="height: 200px;width: 370px;">
            <!-- <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="assets/{{data.image}}" class="img-fluid" style="height: 200px;width: 500px;margin-bottom: 50px;" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div> -->
            <div class="card-body">
                <h5 style="font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="card-title">Collaboration</h5>
                <pre class="card-text" style="font-size: 25px;">
- Git
- GitHub
                </pre>

            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="card" style="height: 200px;width: 370px;">
            <!-- <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="assets/{{data.image}}" class="img-fluid" style="height: 200px;width: 500px;margin-bottom: 50px;" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div> -->
            <div class="card-body">
                <h5 style="font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="card-title">Outils de test</h5>
                <pre class="card-text" style="font-size: 25px;">
- Postman
- Insomnia
                </pre>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="card" style="height: 200px;width: 370px;">
            <!-- <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="assets/{{data.image}}" class="img-fluid" style="height: 200px;width: 500px;margin-bottom: 50px;" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div> -->
            <div class="card-body">
                <h5 style="font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="card-title">Outils embarqués</h5>
                <pre class="card-text" style="font-size: 25px;">
- Microprocesseur 8086
- MIPS
- VHDL
- STM32
                </pre>
            </div>
        </div>
    </mat-grid-tile>

</mat-grid-list>